<div id="<%= dom_id recipe_food %>">
  <p>
    <strong>Recipe:</strong>
    <%= Recipe.find_by(id: recipe_food.recipe_id).name %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= Food.find_by(id: recipe_food.food_id).name  %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= recipe_food.quantity %>
  </p>
</div>
